</!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>贝尔格编排算法</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
</head>
<script type="text/javascript" src="../js/Berger-Scheduling.js"></script>
<script type="text/javascript" src="../js/ShowResults.js"></script>
<body style="text-align:center;margin:20px 0">
	<div class="input-group group-length">
  		<span class="input-group-addon" id="basic-addon3">请输入参赛队伍名称 :</span>
  		<input type="text" class="form-control input-length" id="name">
  		<span class="input-group-btn">
        	<button class="btn btn-default" type="button" id="save">保存</button>
        	<button class="btn btn-default" type="button" id="ok">录入完成生成对阵表</button>
      	</span>
	</div>
	<div class="group-list">
		<ul class="list-group" id="show-list-name">
		</ul>
	</div>

	<div id="show" class="show-results">
		<!-- <div class="backstyle">
			<p class="rounds-list">第一轮</p>
			<ul class="battle-group">
  				<li class="key">队伍1</li>
  				<p class="line"></p>
  				<li class="value">队伍2</li>
			</ul>
		</div> -->
	</div>
</body>
</html>